body {background-color: beige;
    color: black
        
    ;}
    
    
    
    h1 {text-align: center;
        padding: 3px;
        background-color: beige;
        color: red ;
        border-radius: 50px;
        height: 50px
    }
    
   
    p {max-width: fit-content;    
       
    }
    
    h2 {text-align: center;
        padding: 3px;
        background-color: beige;
        color: red;
        border-radius: 50px;
        height: 30px
    }
    
    
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    
    
      
    main {text-align: center;}
    

    section {text-align: center;}
    
    
    
    a:hover {
        color: #f33506;
      }
    
    
    h1, h2 {background-color: black;
        height: fit-content;
        width: 1400px;
    }